
.header {
    background-color: #C34345;
    padding: 2px;
    width: 100%;
    height: 60px;
}


.header span {
    display: inline-block;
    margin: 20px auto;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    width: 100%;
    text-align: center;
}

html {
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
}

.validation_notice {
    margin: 0 auto;
    width: 275px;
}

.title {
    margin: 30px auto;
    
    color: #47525E;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    width: 600px;
    text-align: center;
}

.container {
    position: relative;
    margin: 80px auto;
    background-color: #FFFFFF;
    border: 4px solid #8492A6;
    border-radius: 15px;
    width: 644px;
    height: 440.32px;
}

.container p {
    position: absolute;
    bottom: 45px;
    color: #8190A5;
    font-family: Lato;
    font-size: 21px;
    font-weight: 400;
    line-height: 62px;
    width: 100%;
    text-align: center;
}

.results_image {
    display: block;
    margin: 0 auto;
    width: 215.14px;
    height: 281px;
}

/* Mobile device */
@media screen and (max-width: 600px) {
    html {
        min-width: 250px;
    }
    .title {
        width: 40%;
    }
    .container {
        width: 90%;
    }
    .container p {
        line-height: 1em;
        bottom: 10px;
    }
}

@media screen and (max-width: 375px) {
    .header {
        height: 80px;
    }
}